body{
    margin: 0;
}

.containner{
       position: relative;
}
img{
       width: 100%;
       height: 100vh;
       object-fit: cover;
       display: block;
}
button{
  font-family: 'Black Ops One', cursive;
    font-size: 34px;
    letter-spacing: 3px;
    color: #ff2e63; /* وردي قريب من السكويد قيم */

    position: absolute;
    top:80%;
    left: 38%;
    transform: translate(-50%, -50%);
    padding: 20px 80px;/*يكبر الزر */
    white-space: nowrap;
}
button,button::after {
  font-size: 35px;
  border: none;
  padding: 10px 50px;
  font-size: 20px;
  border: 2px solid #ffffff; /* لون حدود الزر */
  border-radius: 5px;
  color: rgb(255, 255, 255); /* لون join */
  font-family: Game Of Squids, sans-serif;
  background-color: transparent;
}

button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: "Join Us";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #d725ab, 3px 3px 0px #7adcff;
  background-color: transparent;
  border: 3px solid rgb(82, 196, 241);
}

button:hover {
  text-shadow: -1px -1px 0px #e22195, 1px 1px 0px #5de5f7;
}

button:hover {
  background-color: transparent;
  border: 1px solid rgb(210, 22, 147);
  box-shadow: 0px 10px 10px -10px rgb(71, 218, 241);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px,-10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px,10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px,0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px,-10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px,10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px,-10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px,10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px,-10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px,10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}

